<% short_link = ShortLinkPresenter.new(short_link) %>

<li class="py-4 flex items-center justify-between space-x-3" id="<%= short_link.slug %>">
  <div class="min-w-0 flex-1 flex items-center space-x-3">
    <div class="min-w-0 flex-1">
      <%= link_to request.base_url + short_link_path(short_link.slug), short_link_path(short_link.slug), class: "text-sm mb-3 font-medium text-gray-900 truncate", target: "_blank" %>
      <% if short_link.title.present? %>
        <p class="text-sm font-medium text-gray-500 truncate title"><%= short_link.title %></p>
      <% else %>
        <div class="animate-pulse flex-1 space-y-4 py-1 title">
          <div class="h-4 bg-gray-200 rounded w-3/5"></div>
        </div>
      <% end %>
      <a href="<%= short_link.url %>" class="text-sm font-medium text-gray-500 truncate original-link" target="_blank">Original Link</a>
    </div>
  </div>
  <div class="flex-shrink-0">
    <%= button_tag type: "button", class: "block rounded-lg px-3 py-1 text-sm text-gray-500 font-semibold bg-gray-200 shadow-sm" do %>
      <%= link_to "Stats", reports_path(short_link.slug), class: "text-sm font-medium text-gray-500" %>
    <% end %>
  </div>
</li>