<div class="max-w-2xl mx-auto">
  <div class="text-center">
    <%= link_to root_path do %>
      <%= render inline: Rails.root.join('app/assets/images/logo.svg').read %>
    <% end %>
    <h2 class="mt-2 text-lg font-medium text-gray-900">Report for <%= @pageviews.slug %></h2>
  </div>

  <%= render partial: "reports/report", locals: { report_range: @pageviews.last_minute, description: "Minute Visitors" } %>
  <%= render partial: "reports/report", locals: { report_range: @pageviews.last_hour, description: "Hourly Visitors" } %>
  <%= render partial: "reports/report", locals: { report_range: @pageviews.last_week, description: "Weekly Visitors" } %>
</div>